.button-alterar{
    background: rgb(253,192,4);
    border: 1px rgb(253,192,4) solid;
    color: black;
}

.button-remover{
    background: rgb(220,54,71);
    border: 1px rgb(220,54,71) solid;
    color: white;
}

.button-alterar, .button-remover {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
	.button-alterar, .button-remover {
        font-size: x-small;
        padding: 7px;
        display: block;
    }
}